#hoursWorkWarning {
  font-size: 0.65rem;
  color: gray;
}

.sceltaOre {
  width: 200px;
}

#dati {
  margin: 2px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  width: 70%;
}
